<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xianshuiyu.webshop.demos.web.mapper.AdminMapper">
    <update id="updateAdmin">
        update admins
        <set>
            <if test="username!=null and username!=''">
                username = #{username},
            </if>
            <if test="password!=null and password!=''">
                password = #{password}
            </if>
        </set>
        where adminId = #{adminId}
    </update>

</mapper>