<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xianshuiyu.webshop.demos.web.mapper.UserMapper">
    <update id="update">
        update users
        <set>
            <if test="username!=null and username!=''">
                username = #{username},
            </if>
            <if test="password!=null and password!=''">
                password = #{password},
            </if>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="sex!=null and sex!=''">
                sex = #{sex},
            </if>
            <if test="address!=null and address!=''">
                address = #{address},
            </if>
            <if test="phone!=null and phone!=''">
                phone = #{phone},
            </if>
            <if test="post!=null and post!=''">
                post = #{post},
            </if>
            <if test="email!=null and email!=''">
                email = #{email},
            </if>
            <if test="money!=null">
                money=#{money}
            </if>
        </set>
        where userId = #{userId}
    </update>

    <insert id="save">
        INSERT INTO users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">
                username,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="address != null and address != ''">
                address,
            </if>
            <if test="sex != null and sex != ''">
                sex,
            </if>
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="post != null and post != ''">
                post,
            </if>
            <if test="money != null">
                money,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">
                #{username},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="email != null and email != ''">
                #{email},
            </if>
            <if test="address != null and address != ''">
                #{address},
            </if>
            <if test="sex != null and sex != ''">
                #{sex},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="phone != null and phone != ''">
                #{phone},
            </if>
            <if test="post != null and post != ''">
                #{post},
            </if>
            <if test="money != null">
                #{money},
            </if>
        </trim>
    </insert>


</mapper>